In [1]:
import pandas as pd
import numpy as np
import h3

In [3]:
stop_times = pd.read_csv('../data/gtfs_static/stop_times.txt')

In [10]:
routes = pd.read_csv('../data/gtfs_static/routes.txt')

In [12]:
routes.route_id.nunique()

239

In [9]:
stop_times

,trip_id,arrival_time,departure_time,stop_id,stop_sequence,stop_headsign,pickup_type,drop_off_type,shape_dist_traveled,timepoint
0,14305517,20:02:00,20:02:00,12238,1,NaN,NaN,NaN,NaN,1
1,14305517,20:03:00,20:03:00,12236,2,NaN,NaN,NaN,0.6214,1
2,14305517,20:05:00,20:05:00,12234,3,NaN,NaN,NaN,1.4993,1
3,14305517,20:08:00,20:08:00,12232,4,NaN,NaN,NaN,3.5732,1
4,14305517,20:10:00,20:10:00,12230,5,NaN,NaN,NaN,4.8670,1
...,...,...,...,...,...,...,...,...,...,...
3598588,14268224,15:34:18,15:34:18,2508,23,NaN,NaN,NaN,5.9512,0
3598589,14268224,15:35:20,15:35:20,2323,24,NaN,NaN,NaN,6.2200,0
3598590,14268224,15:36:53,15:36:53,2325,25,NaN,NaN,NaN,6.6233,0
3598591,14268224,15:38:12,15:38:12,1442,26,NaN,NaN,NaN,6.9676,0
3598592,14268224,15:39:00,15:39:00,1443,27,NaN,1.0,NaN,7.1471,1

In [6]:
stop_times_agg = stop_times.groupby('trip_id').agg(max_stop_sequence=('stop_sequence', 'max'))

In [8]:
stop_times_agg.max_stop_sequence.value_counts()

max_stop_sequence
20    5703
13    5283
17    5046
15    4993
14    4686
      ...
78      14
80      10
67       2
69       2
73       2
Name: count, Length: 78, dtype: int64

In [14]:
50*30*15*1.5

33750.0